/* News */

#news {width:100%;margin:0 auto;}

#news .list{margin:20px;}
#news .entry{margin:7px 5px 25px 5px;
                background-color:#E9FFB3;border:1px dotted #92D000;float:none;
                box-shadow: 5px 5px 5px #ccc;-webkit-box-shadow: 5px 5px 5px #ccc;-moz-box-shadow: 5px 5px 5px #ccc;}
#news .header{padding:5px;}
#news .editrem{float:right;clear:right;}
#news .buttons{text-align:right;vertical-align:bottom;font-family:Arial;font-size:9pt;font-weight:normal;}
#news .body{margin:0px 0px 0px 20px;width:90%;color:#000000;font-size:9pt;font-weight:normal;overflow:hidden;}
#news .field {font-style:normal;font-weight:normal;color:black;width:320px;}
#news .button {width:120px;height:34px;color:#000;background-color:#d5fc7a;
               font-style:normal;font-weight:bold;}

#news_external{width:600px;display:inline;}
#news_container{width:500px;float:left;display:block;}
#news_container p{vertical-align:-20px;font-family:Arial;margin:3px;}
#news_container p.title{font-size:11pt;font-weight:bold;text-decoration:none;color:#183001;float:left;clear:left;}
#news_container p.info{font-size:8pt;font-weight:normal;text-decoration:none;color:#888;float:left;clear:left;}
#news_container p.body{font-size:12pt;color:black;margin-bottom:5px;}
#news_container img.admin{margin:0;}
#news_container img{margin:5px;}
#news_container hr{clear:both;height:1px;border:0;color:#ccc;background-color:#ccc;}
#side_panel{width:210px;float:right;display:inline;background-color:#E9FFB3;border:1px dotted #92D000;
            margin-right:30px;margin-top:5px;padding-top:10px;
                box-shadow: 5px 5px 5px #ccc;-webkit-box-shadow: 5px 5px 5px #ccc;-moz-box-shadow: 5px 5px 5px #ccc;}
#side_panel div.calendar{width:210px;}
#calendar table{margin:0 auto;border-spacing:1px;margin-bottom:10px;background-color:#FFFFFF;}
#calendar td{background-color:#eff4e7;font-family:Arial,Helvetica;font-size:11pt;font-weight:bold;padding:5px;text-align:right;cursor:default}
#calendar td.marked{background-color:#FCE874;}
#calendar td.caption{background-color:#FFFFFF;font-family:Verdana,Arial,Helvetica;font-size:12pt;font-weight:bold;text-align:center;cursor:default}
#calendar a{text-decoration:none;cursor:default}
#calendar .month{font-size:11pt;font-weight:bold;text-decoration:none;color:#183001;text-align:center;}
#side_panel div.pictures{margin:3px;border:1px solid #DADADA;background-color:#F5FDD7;width:200px;}
#side_panel div.pictures:hover{margin:3px;border:1px solid #A9C604;background-color:#EFFCBA;}
#side_panel img.pictures{display:block;margin:0 auto;}
